/*
Theme Name:Comes e Bebes
Author: WoosBrabos
Description: Tarefa WP
Version: 1
*/

@import "./assets/css/minhaconta.css";
@import "./assets/css/Normalize.css";
@import "./assets/css/header.css";
@import "./assets/css/footer.css";
@import "./assets/css/front-page.css";
@import "./assets/css/single-product.css";
@import "./assets/css/orders.css";
@import "./assets/css/shop.css";
@import "./assets/css/form-edit-address.css";
@import "./assets/css/form-edit-account.css";
@import "./assets/css/secondheader.css";
@import "./assets/css/form-checkout.css";
*{
    font-family: 'Bellota Text', cursive;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
} 

.pesquisa input::placeholder {
    color: #F5C661;
}
