.classe_form {
    width: 1000px;
}

.classe_form label {
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.classe_form input {
    font-family: Bellota Text;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.classe_form button {
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

#botao_salvar_alteracoes {
    margin-bottom: 100px;
    margin-top: 50px;
    color: white;
    padding: 10px;
    background-color: #6A066D;
    cursor: pointer;
    border: none;
}

.classe_do_botao {
    display: flex;
    justify-content: center;
}