.nome_usuario,
.opcoes_usuario {
    margin: 0;
}

.edit_acount_usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    font-size: 24px;
}

.formulario {
    width: 80vw;
    height:80vh;
    font-size: 24px;
    margin-top: 16px;
}

.woocommerce-form-row {
    border-bottom: 2px solid #6A066D;
    padding: 0;
}
.woocommerce form .form-row {
    padding: 0;
}
