/* estilo header home */

.header_home {
    background-color: #7A247D;
}

.info_header_title {
    color: #F5C661;
    font-size: 48px;
    text-align: center;
    padding-top: 69px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.info_header_text {
    color: #fafafa;
    font-size: 26px;
    text-align: center;
    padding-bottom: 112px;
}

/* conheca */

.conheca-container {
    background-color: #E5E5E5;
}

.conheca {
    max-width: 1000px;
    margin: 0 auto;
}

.conheca_title_text {
    margin: 0px 0px 48px 0px;
    padding-top: 62px;

    color: #333;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.conheca_tipos_pratos_text {
    color: #000;
    font-size: 24px;
    margin-bottom: 19px;
}

.product_category {
    position: relative;
}

.woocommerce-loop-category__title {
    position: absolute;
    bottom: 16px;
    left: 0;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
    padding: 9px;
}

.count {
    display: none;
}

.woocommerce ul.products li.product h2.woocommerce-loop-category__title {
    padding: 9px;
    font-size: 24px;
    text-transform: uppercase;
}

.woocommerce ul.products li.product a img {
    width: 240px;
    height: 210px;
}

.conheca_pratos_dia_text {
    color: #000;
    font-size: 24px;   
}

.conheca_dia_semana {
    display: inline-block;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 24px;
}

.item_product {
    list-style: none;
}

.div_button {
    text-align: center;
    margin-top: 48px;
    padding-bottom: 59px;
}

.veja_opcoes_btn {
    background-color: #F5C661;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 32px;
    border: none;
    color: #000;
}

.products_list {
    display: flex;
    gap: 29px;
}

.item_product a img {
    width: 240px;
    height: 373px;
}


.container_info_products {
    position: relative;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    height: 105px;
    top: -110px;

}
.gototop{
    position: relative;
    top:10px;
    
}

.item_product h2 {
    position: absolute;
    top: 0;  
    left: 0;
    padding-top: 9px;   
    
    color: #fff;
    font-size: 18px;
}

.products_price {
    position: absolute;
    bottom: 0;
    left:0;
    padding-left: 4px;
    padding-bottom: 7px;

    color: #fff;
    font-size: 24px;
}

.adicionar_carrinho {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 7px;
    padding-right: 5px;    
}

.adicionar_carrinho img {    
    max-width: 40px;
    max-height: 37px;
    padding: 2.83px 4.16px 4.17px 1.84px; 

    background-color: #F5C661;
}



.amount {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* estilo footer home */

.footer_home {
    background: #7A247D;    
}

.title_footer {
    text-align: center;
    padding-top: 35px;
    margin-bottom: 52px;
}

.title_footer_text {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: center;
    padding-bottom: 93px;
    gap: 131px;
    align-items: center;
}

.map {
    margin-bottom: 25px;
}

.adressText,
.phoneText {
    color: #fff;
}

.adressText {
    margin-bottom: 21px;
}
