.container {
    background-color:#7A247D;
    display: flex;
    justify-content: center;
}

.header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    width: 1000px;
}

.logo {
    display: flex;
    gap: 48px;
    align-items: center;
}

.btn-pedido {
    background-color: #F5C661;
    padding: 9px 19px;
    border: none;
    color: black;
    font-weight: 500;
}
.wp-post-image{
    position:relative;
    max-width: 200px;
    max-height: 200px;
    right: 200px;
}

.lupinhashow,
.search-field {
    background-color: transparent;
    border: none;
}

.pesquisa {
    border-bottom: 2px #F5C661 solid;
    max-height: 24px;
}

.icones {
    display: flex;
    gap: 25px;
    align-items: center;
}
.menucarrinho {
    position:absolute;
   background-color: #F5C661;
   inset: 30px 42px 0px 819px;
   width: 530px;
   height: 1000px;
   display:none;
   z-index: 200;
;
}
.menucarrinho.open{
    display: block;
}
.saindo{
    position: relative;
    left: 500px;
    top:10px;
    cursor: pointer;
    width: 10px;
    padding: 3px;
}
.cartitle {
    color: #6A066D;
    font-weight: 700;
    font-size: 32px;
}

.barra {
    border-bottom: solid 1px #6A066D;
    margin-left: 39px;
    margin-right: 39px;
}
.minicart{
    margin-left: 39px;
    margin-top: 38px;
}
.minicart2 {
    position: absolute;
    right: 200px;
    top: 200px;
    
}
.continuarparacompra{
    background-color: #7E3481DC;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    
}
.continuarcompra {
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#protucto{
    display: flex;
    flex-direction: row;
}
#produtofoto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#produtoinfo{
    gap: 200px;
}
#geralcart {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}
#geralcart2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border: solid 1px #7E3380DD;
}
#infogeral{
    background-color: #D7F6FD;
    width: 302px;

}
#infogeral2{
    background-color: #FAFAFA;
    width: 302px;
}
#proquanti {
    position: relative;
    top:90px;
    left:20px;
}
#infopreco {
    position: relative;
    top: 73px;
    left: 200px;
}
#protitulo {
    position: relative;
    left: 20px;
    top: 20px;
}
#totalprecoo{
    position: relative;
    left: 39px;
    top: 20px;
}
.carimagem {
    cursor: pointer;
}