#account_first_name, 
#account_last_name, 
#account_email, 
#password_current, 
#password_1, 
#password_2 {
    background-color: transparent;
    box-decoration-break: 0;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    border-bottom: solid 1px #6A066D;
}

.formulario {
    width: 80vw;
    height:80vh;
}

.botaosalvar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.botaosalvar button {
    background-color: #6A066D;
}

#btnsalvar {
    margin-bottom: 100px;
    background-color: #6A066D;
    color: white;
    border-radius: 0%;
    font-weight: 400;
}

#text {
    display:none;
    height: 0%;
    width: 0%;
}

.classe_lista_li a{
    color:black;
}
