
#orderlinha{
    position: relative;
    right: 200px;
    border-color: transparent;
    
}

#orderlinha2{
    border-color: transparent;
}

.btnvizu{
    background-color: transparent;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 3px #6A066D;
    color: #6A066D;
}

.custoitem {
    display: inline-flex;
    
    position: relative;
    
}

.amount {
    position: relative;
    gap: 10px;
}

#detalheorder {
    border: none;
}
.woocommerce-table__line-item .order_item {
    border: none;
}
.woocommerce table.shop_table td {
    border: none;
}
.woocommerce table.shop_table tfoot th {
    border: none;
}
.woocommerce table.shop_table tfoot th {
    border: none;
}