.second_header {
    background-color: #F5C661;
    padding: 20px;
}

.classe_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.classe_lista li {
    font-size: 24px;
    font-weight: 700;
}
