/* ---------------- GERAL ---------------- */
.main_content{    
    width: 1000px;
    margin: 0 auto;
}

/* ---------------- MENU CATEGORIAS ---------------- */
.menu_container{
    display: block;    
}

.div_title_ProductList {
    display: flex;
    align-items: flex-end;

    /* margin-left: 50px;         */
}

.title_ProductList h1{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #333333;
}

.categories_container{
    display: flex;
    justify-content: center;
    gap: 29px;
}

.categories_container button{
    border: none;
}

.category_content{
    position: relative;    
}

.category_content img{ 
    width: 240px;
    height: 210px;
}

.category_content a{ 
    
    left: 0;
    bottom: 3.5px;
    position: absolute;
   
    color: #fff;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);

    height: 46px;
    width: 100%;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    text-transform: uppercase;    

    align-items: center;
}

.title_category_content{   
    height: 46px;
    width: 100%;            
}

.category_content p{ 
    z-index: 100;

    bottom: 0;
    position: absolute;

    margin-left: 6px;
    margin-bottom: 8px;
}

/* ---------------- FILTROS ---------------- */
section{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;

    /* margin-left: 192px;
    margin-right: 192px; */
}

.sectionPlates h1{
    font-size: 32px;
    line-height: 40px;

    margin-top: 20px;
    margin-bottom: 0;
}

.sectionPlates h4{
    margin-top: 0;
    margin-bottom: 14px;
}

label{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;    
}

.FilterByPrice label{
    margin: 16px;
}

.filters{
    display: flex;
    justify-content: space-between;    

    margin-bottom: 33px;

    /* margin-left: 192px;
    margin-right: 192px; */
}

.searchAndOrder .woocommerce-product-search{
    margin-top: 14px;
    margin-bottom: 14px;

    border-bottom: 2px solid #6A066D;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.searchAndOrder .lupinhashow{
    visibility: hidden;
}

.woocommerce-ordering select{
    border-top: none;
    border-left: none;
    border-right:none;
    
    border-bottom: 2px solid #6A066D;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;

    background-color: transparent;
}

.FilterByPrice{
    display: block;    
}

input{    
    border-top: none;
    border-left: none;
    border-right:none;
    
    border-bottom: 2px solid #6A066D;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;

    background-color: transparent;    
}

/* ---------------- SEÇÃO DE PRODUTOS ---------------- */
.productsSection{
    display: flex;    
}

.products_list {
    display: flex;    
    flex-wrap: wrap;    
    gap: 10px;
}