body {
    background: #E7FAFE;
}

.woocommerce-product-gallery__image {
    width: 392px;
    margin-left: 120px;
}

.product_title, 
.entry-title{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

bdi{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;

    line-height: 40px;

    color: black;
}

.input-text {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;

       
}

.single_add_to_cart_button button{
    border-radius: 30px;
}

.product_meta{
    visibility: hidden;
}

div .images{
    width: auto;
}
.woocommerce-product-gallery{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.woocommerce-product-gallery__wrapper{   
    position: relative;
    left: 255px;
}

.woocommerce-product-gallery__image {
    width: 392px;
    height: 249px;    
    
    margin-top: 41px;
}

.woocommerce-product-gallery__image:nth-child(2){
    position: absolute;
    visibility: hidden;
    
    z-index: -10;
}

.summary, 
.entry-summary{
    margin-top: 41px;
}

.maiscomida {    
    display: flex;
    width: 1000px;
    margin: 0 auto;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;
    text-align: start;
}

.looprelativo {    
    display: flex;
    justify-content: center;

    margin-top: 60px;    
}

ul .products, .columns-4{
    width: 1000px;
}

.looprelativo ul .product {
    width: 240px;
    height: 373px;
    background: rgba(126, 52, 129, 0.86279);
}

.woocommerce-loop-product__title{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;    

    color: #FAFAFA;

    margin-left: 3px;
}

ul .product bdi{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;

    color: rgb(255, 255, 255);
}

.woocommerce ul.products li.product .button {
    
    left: 97px; 
    background: #F5C661;
}

li .product{
 display: flex;
 justify-content: flex-end;
 background: #e839f8;
}